* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}
header {
  background: linear-gradient(to right, #1a1a1a, black);
  color: white;
  padding: 20px;
}
.pizza-flavour {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  margin: 0.5em 0.5em 0;
}

.h-pizza {
  color: #965fe3;
}

.content {
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1220px;
  margin: auto;
  padding: 15px;
}
a {
  text-decoration: none;
}
b {
  font-size: medium;
}

table {
  margin: auto;
  margin-top: -20px;
  width: 97%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}
td {
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
td.quantity {
  padding: 25px 0 25px 45px;
  min-width: 33px;
}
tbody tr:hover {
  transform: scale(1.02);
}
.pizza-cart-img {
  margin-top: 8px; 
  width: 120px
}
.basket-btn {
  font-size: medium;
}
.basket-btn:hover {
  transform: scale(1.07);
}
.basket-qty {
  background-color: red;
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 24px;
  padding-top:0.1em ;
  margin: -25px -24px 0 -5px;
  position: absolute;
  font-size: medium;
  font-weight: bolder;
}
.cart-qty {
  padding: 10px; 
  font-weight:600
}
.add-minus-btn {
  background-color: rgb(223, 0, 0);
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 40px;
  height: 40px;
  border-radius: 2px;
}
.add-minus-btn:hover {
  transform: scale(1.1);
}
.pizza-price {
  font-size:20px;
}
.box,
.pizzas-box {
  border-radius: 15px;
  padding: 1.3em;
  margin: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pizzas-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  margin: -1em;
  padding: 2em 2em 2em 0;
}
.pizzas-list:only-child {
  justify-content: flex-start;
}

.small_pizza {
  background-color: #ffffff;
  box-shadow: sol #965fe3;
  flex:2.3;
}
.medium_pizza {
  background-color: #ffffff;
  flex: 2.5;
}
.large_pizza {
  background-color: #ffffff;
  flex: 3;
}

.pizzas {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.small_pizza,
.medium_pizza,
.large_pizza {
  scroll-snap-align: center;
  box-sizing: border-box;
}
.pizzas::-webkit-scrollbar {
  display:none; 
}
.pizza-list-heading {
  width: 23.9vw;
  max-width: 10.8em;
}
.contact_us {
  background-color: #965fe3;
}

button {
  border: none;
}
.button {
  margin: 3px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 500
}
.button.selected {
  background-color: rgb(223, 0, 0);
  color: white;
}
.button:not(.selected):hover {
  transform: scale(1.25);
}

.show-all {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.show-all:hover {
  transform: scale(1.1);
}

.fetched-imgs {
  width: 165px;
}
.order-btn {
  flex: 3;
}
.order-btn:hover {
  transform: scale(1.05);
  margin-right: 5px;
}
.qty {
  flex: 0.6;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
.qty,
.order-btn,
.qty-btn1,
.qty-btn2 {
  background-color: rgb(223, 0, 0);
  color: white;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.qty-btn,
.qty-btn1 {
  flex: 1;
}

.qty-btn1:hover {
  transform: scale(1.1);
  margin: -2px 0 0 3px;
}
.qty-btn2:hover {
  transform: scale(1.1);
  margin: 0 0 -2px 3px;
}
.price {
  font-size: large;
  font-weight: bold;
}
@media (max-width: 960px) {
  /* .small_pizza,{
    flex: 0 0 58%;
  } */
}
@media (min-width: 780px) and (max-width: 990px) {
  .pizzas-list {
    display: flex;
  }
  .fetched-imgs {
    width:13vw;
  }
  .pizza-description-box {
    width: 25vw;
  }
  
}

@media (max-width: 780px) {
  .fetched-imgs {
    width:13vw;
  }
  .pizza-description-box {
    width: 22vw;
  }
}
@media (max-width: 690px) {
  .pizzas-list {
    justify-content: space-evenly;
  }
  table {
    font-size:14px;
  }
  td.quantity {
    padding: 25px;
    min-width:34px;
  }
  td.price-td {
    min-width:80px;
  }
  .pizza-cart-img {
    width: 75px;
    padding-right: 8px;
  }
  .add-minus-btn {
    font-weight:700;
    width: 28px;
    height: 28px;
  }
  .cart-qty {
    padding: 2px;
  }
  .pizza-flavour {
    font-size: larger;
  }
  .pizza-price {
    font-size: small;
  }
  .fetched-imgs {
    width:165px;
  }
  .pizza-description-box {
    width:35vw;
  }
  .pizza-list-heading {
    width: 100%;
  }
  .content {
    margin: 13px 0;
    padding:0px;
  }

}
@media (max-width: 480px) {
  .pizzas-list {
    justify-content: space-between;
  }
  .fetched-imgs {
    flex: 1;
    width:30vw;
  }
  .pizza-description-box {
    flex:8;
    width: 45vw;
  }
  table{
    transform: scale(0.90);
  }
  .small_pizjza{
    flex: 0 0 80%;
  }


}

@media (max-width: 435px) {
  .pizzas-list {
    justify-content: space-evenly;
  }
  .fetched-imgs {
    width:29vw;
  }
  .pizza-list-heading {
    font-size:17px;
  }
  .all-pizzas-type {
    font-size: 15px;
  }
  .all-pizzas-size {
    font-size: 14px;
  }
  .price {
    font-size: 14px;
  }
  .small_pizza{
    flex: 0 0 80%;
  }
}
@media (max-width: 370px) {
  .logo-h1 {
    font-size:8.3vw;
  }
}

.cart-total {
  font-size: 20px;
  color: #333;
}

/* Style for Pay Button */
.pay-button {
  background-color: #000000; 
  color: white;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:large;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 0 3px 3px 0 ;
  cursor: pointer;
}
.amount {
  border: 1.5px solid #000000;
  margin-right: -8px;
  padding: 10.7px 10px;
  border-radius: 3px 0 0 3px;
  font-size:large;
  font-weight: bold;
  max-width: 130px;
}

.pay-button:hover {
  transform: scale(1.05);
}

/* Pop-up overlay */
.popup-overlay {
  display: flex; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
}


.popup-box {
  background: #000000;
  color: white;
  padding: 24px 50px 65px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  width: 300px;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: larger;
  cursor: pointer;
  padding: 15px 30px;
}

/* Pop-up message */
.popup-username {
  font-weight: bold;
  margin: 30px 0 10px;
  text-align: left;
}
.popup-description {
  font-size: 16px;
  padding: 0 20px
}


.popup-input {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px 0 0 2px;
  flex: 2;
  font-weight: 600;
  margin-right: -2px;
}
.popup-input:focus{
  outline:none;
}
.popup-submit-btn {
  font-weight: bold;
  padding: 0px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.popup-submit-btn:hover {
  transform: scale(1.06);
}

.open-popup-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.open-popup-btn:hover {
  background-color: #0056b3;
}

